@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
margin: 0;
padding: 0;
box-sizing: border-box;
scroll-behavior: smooth;
      
}
header{
    background-color: antiquewhite;
    width: 100%;
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 200px;

}
.logo{
    text-decoration: none;
    color: brown;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 1.8em;
}
.navigator-top a {
    color:brown;
    text-decoration: none;
    font-size: 1.2em;
    font-weight: 700;
    padding-left: 30px;
}
.navigator-top a:hover{
    color: burlywood;
}
section{
    padding: 100px 200px;
}
.main{
    width: 100%;
    min-height: 150vh;
    display: flex;
    align-items: center;
    background: url(image/my_photo2.jpeg) no-repeat;
    background-size:cover ;
    background-position:  center top ;
    background-attachment: fixed;
    
}
.main h2{
    color: aliceblue;
    font-size: 1.9em;
    font-weight: 600;
}
.main h2 span{
    display: inline-block;
    color: rgb(133, 255, 214);
    font-size: 2.7em;
    font-weight: 600;
    margin-top: 10px;
}
.main h3 {
    color: aliceblue;
    font-size: 2em;
    font-weight: 600;
    letter-spacing: 1px;
    margin-top: 10px;
    margin-bottom: 30px;

}
.main-btn{
    color: aliceblue;
    background-color: blueviolet;
    text-decoration: none;
    font-size: 1.4em;
    font-weight: 900;
    display: inline-block;
    padding: 0.9375em 2.1875em;
    letter-spacing: 1px;
    border-radius: 15px;
    margin-bottom: 40px;
    transition: 0.7s ease;
}
.main-btn:hover{
    background-color: chocolate;
    transform: scale(1.2);
} 
.social-icon a {
    color: rgb(255, 255, 255);
    font-size: 1.9em;
    padding-right: 30px;
    display: inline-block;
    padding: 0.5em .6em;
    letter-spacing: 0.9px;
    border-radius: 0.7px;
    margin-bottom: 0.7px;
    transition: 0.7s ease;

}
.social-icon a:hover{
    color: rgb(2, 234, 255);
    transform: scale(2);

}
.title{
    display: flex;
    justify-content: center;
    color: brown;
    font-size: 2.5em;
    font-weight: 900;
    margin-bottom: 30px;

}
.content{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}
.card{
    background-color: rgb(255, 255, 255);
    width: 21.25em;
    box-shadow: 0 5px 25px rgba(1 1 1 / 15%);
    border-radius: 10px;
    padding: 25px;
    margin: 15px;
    transition: 0.7s ease;
}
.card:hover{
    transform: scale(1.2);
}
.icon{
    color: brown;
    font-size: 8em;
    text-align: center;
}
.info{
    text-align: center;
}
.info h3{
    color: brown;
    font-size: 1.1em;
    font-weight: 800;
    margin: 10px;
}
.projects{
    background-color:wheat;

}
.projects.content{
    margin-top: 30px;

}
.p-card{
    background-color: rgb(219, 219, 219);
    border: 1px solid white;
    min-height: 14em;
    width: 23em;
    overflow: hidden;
    border-radius: 10px;
    margin: 20px;
    transition: 0.7s ease;
}

.p-card:hover{
    transform: scale(1.1);
}
.pic-1 img{
    width: 100%;

}
.p-card:hover .pic-1 img{
    opacity: 0.6;
}
.project-info{
    padding: 0.8em;
}
.project-category{
    font-size: 1.5em;
    font-weight: 600;
    text-align: center;
    color: black;   
}
.project-title{
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    font-size: 0.7em;
    font-weight: 900;
    margin-top: 10px;

}
.more-detail{
    text-decoration: none;
    color: brown;
}
.more-detail:hover{
    color:blanchedalmond;
}
.Contact .icon{
    font-size: 4em;
}
.Contact .info h3{
    color: black;
    font-size: larger;
}
.Contact .info p{
    font-size: larger;
    font-weight: 500;
}
.footer{
    background-color: dimgray;
    color: aliceblue;
    padding: 0.1em;
    display: flex;
    justify-content: space-between;
}
.footer-title{
    font-size: 1.3em;
    font-weight: 600;
    padding: 1.2em;
}
.footer-title span{
    color: rgb(208, 62, 62);
}
@media(max-width:1023px){
    header{
        padding:12px 20px ;
    }
    .navigator-top a {
        padding-left: 10px;
    }
    .title{
        font-size: 1.8em;
    }
    section{
        padding: 80px 20px ;

    }
}