body,html,ul{
    margin: 0%;
    padding: 0%;

}
body{
    max-width: 800px;
    min-width: 200px;

}

#container{
    background-color:bisque;
    border: solid 4px black;
    max-width: 50%;
    margin-top: 20px;
    margin-left: 20px;
    padding: 50px;
    
}

h1 {
    color:rgb(13, 123, 123);
    text-decoration: underline black;
    border: 5px solid white;
    margin-right: 10px;
    max-width: 100%;

}

img{
    box-sizing: border-box;
    margin-top: 10px;
    margin-right: 20px;
    padding: 10px;
    max-width: 100%;



}

#first-p {
    color:yellowgreen;
}
hr{
    border-width: 3px;
    border-color: black;
    border-style: solid;
}
ul{
    list-style: none;

}
#last-hr{
    border-width: 3px;
    border-color: rgb(185, 58, 58);
    border-style: solid;
}
p {
    color: black;
}
span{
    font-weight: 900 ;
}
